* {
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-align: center;
}

ul {
  list-style-position: inside;
  padding: 0;
}

li {
  border: 1px solid black;
  width: 25%;
  margin: 0 auto;
  text-align: left;
  padding-left: 25px;
}

.completed {
  text-decoration: line-through;
}